<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-white font-roboto">
    <div class="relative w-full h-screen max-w-6xl mx-auto">
      <video
        class="absolute inset-0 w-full h-full object-cover rounded-3xl filter brightness-50"
        autoplay
        muted
        loop
        playsinline
      >
        <source
          src="https://videos.pexels.com/video-files/4974883/4974883-hd_1920_1080_25fps.mp4"
          type="video/mp4"
        />
        <source src="/videos/find-talent.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>

      <!-- <div class="absolute inset-0 bg-black opacity-50"></div> -->
      <div
        class="relative z-10 flex flex-col items-start justify-center h-full px-6 md:px-16 lg:px-28"
      >
        <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-bold mb-8">
          Hire Smarter, Build Faster!
        </h1>
        <h2 class="text-white text-4xl mb-4">
          Find top talent, post jobs effortlessly, and bring your <br />
          projects to life—faster than ever!
        </h2>
        <div
          class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 pt-20"
        >
          <a
            href="discover.html"
            class="bg-violet-900 bg-opacity-90 text-white p-6 rounded-[3rem] w-full md:w-1/3 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl hover:bg-opacity-100"
          >
            <p class="text-sm text-center font-bold mb-2">
              Post a Job, Hire the Best, Build Something Amazing!
            </p>
            <p class="text-sm text-center">
              Find top-tier IT talent and get your project done—fast &
              hassle-free.
            </p>
            <div class="w-[100%] flex justify-center">
              <p
                class="sm:w-[70%] md:w-[70%] text-center bg-violet-700 text-white font-bold text-sm p-2 rounded-full mt-10 transition hover:bg-violet-500"
              >
                Get started now
              </p>
            </div>
          </a>

          <a
            href="collaborate.html"
            class="bg-violet-900 bg-opacity-90 text-white p-6 rounded-[3rem] w-full md:w-1/3 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl hover:bg-opacity-100"
          >
            <h3 class="text-sm font-bold mb-2 text-center">
              Where Innovation Meets the Right Talent
            </h3>
            <p class="text-sm text-center">
              Join top businesses hiring expert freelancers for software, AI,
              and more.
            </p>
            <ul>
              <li class="flex items-start">
                <span class="text-green-400">✔</span>
                <div class="ml-3">
                  <p
                    class="text-sm sm:text-sm md:text-sm font-extralight leading-relaxed"
                  >
                    Quality You Can Trust
                  </p>
                </div>
              </li>
              <li class="flex items-start">
                <span class="text-green-400">✔</span>
                <div class="ml-3">
                  <p
                    class="text-sm sm:text-sm md:text-sm font-extralight leading-relaxed"
                  >
                    Seamless Collaboration
                  </p>
                </div>
              </li>
              <li class="flex items-start">
                <span class="text-green-400">✔</span>
                <div class="ml-3">
                  <b
                    class="text-sm sm:text-sm md:text-sm font-extralight leading-relaxed"
                  >
                    Global Expertise
                  </b>
                </div>
              </li>
            </ul>
          </a>
          <a
            href="hiring.html"
            class="bg-violet-900 bg-opacity-90 text-white p-6 rounded-[3rem] w-full md:w-1/3 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl hover:bg-opacity-100"
          >
            <p class="text-sm text-center font-bold mb-2">
              Post a Job & Watch Talent Come to You!
            </p>
            <p class="text-sm text-center">
              Post a Job & Watch Talent Come to You!
            </p><div class="w-[100%] flex justify-center">
              <p
                class="sm:w-[70%] md:w-[70%] text-center bg-violet-700 text-white font-bold text-sm p-2 rounded-full mt-10 transition hover:bg-violet-500"
              >
                Get started now
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
